<div class="mlogin-container">
       		<div class="login-image"></div>
       		<div class="mlogin">      			
       			<form>
       				<h1 class="title">LOGIN</h1>
	       			<input type="text" name="name" placeholder="Name" data-ng-model="username">
	       			<input type="password" name="mpass" placeholder="Password" data-ng-model="password">
	       			<div id="forgot-password">Forgot Password?</div>
	       			<div><input type="checkbox" id="agree" checked name="agree"/><label for="agree"><span></span>Read and agree to use terms</label></div>
	       			<div><input type="checkbox" id="remember" name="remember"/><label for="remember"><span></span>Remember me</label></div>
	       			<div id="mlogin-submit"  ng-click="login()">LOGIN</div>
       			</form>
       		</div>
       		<div class="footer-image"></div>
       		
        </div>
