.infoFrm{
background-color:white;
list-style-type:none;
width:330px;
height:640px;
border:1px solid gray;
}
.infoFrm li{
    font-size: 10px;
    list-style-type:none; 
}
.infoFrm ul{
    font-size: 15px;
    list-style-type:none;
  border-bottom: 1px solid gray;
  margin:0px;padding:0px;
}
.infoFrm ul#title{
    height:56px;
    padding-top:10px;
    text-align:center;
    padding-left:0px;
}
.infoFrm ul#pic{height:228px;}

img#pic{
margin-left:20;
margin-top: 20;
}
.infoFrm ul#details{height:150px;}
#num label{  font-weight:bold;}
#num label, #detail label{
  line-height:3;
}
 td#Tblmenu td{
    display: inline-block;
    text-align:left;
}
.infoFrm ul#tbl{
    height:255px;
}
#first label, #second label{
  line-height:2;
}
table#Tblmenu{
margin: 0px;
}
 th#Tblmenu th{
color:black;
text-align:center;
}
td#second{vertical-align:top
padding:0px;}
td#first{padding:0px;}
}